@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply text-foreground bg-background font-sans;
}

.btn-primary {
  @apply bg-blue-500 text-white border-none py-2 px-4 rounded cursor-pointer transition-colors duration-300;
}

.btn-primary:hover {
  @apply bg-blue-600;
}

.btn-secondary {
  @apply bg-gray-200 text-black border-none py-2 px-4 rounded cursor-pointer transition-colors duration-300;
}

.btn-secondary:hover {
  @apply bg-gray-300;
}

.alert-message {
  @apply text-red-500 bg-black p-4 rounded;
}